.filter-top {
    width: 1000px;
    border: 1px solid lightgrey;
    height: 50px;
    display: flex;
    /* font-size: 20px; */

}

.filter-top-element {
    font-size: 20px;
    width: 100px;
    padding: 8px 3px 8px 3px;
    cursor: pointer;
}
