.product {
    display: inline-block;
    flex: 1;
    width: 200px;
    height: 300px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    margin: 3px 3px 3px 3px;
}
.product:hover {
    outline: 2px solid lightblue;
    
    
}
.product-header {
    font: 30px sans-serif;
    color: rgba(0, 0, 0, 0.68);
    width: 100%;
    border-bottom: 1px solid lightgrey;
    padding-left: 4px;
}
.product-marked {
    outline: 2px solid lightblue;
}