<div class="product"
  [ngClass]="{
    'product-marked': product.isMarked
  }"
  (click)="product.isMarked =!product.isMarked"
>
  <h1 class="product-header">{{product.name}}</h1>
  <div class="product-description">
    <div>Model: {{product.model}}</div>
  </div>
  
</div>
